*.env
__pycache__/
migrations
photoalbum/photos/migrations
photoalbum/photos/__pycache__
photoalbum/accounts/migrations
photoalbum/accounts/__pycache__
photoalbum/photoalbum/__pycache__
venv
.idea
photoalbum/staticfiles